.home-button img{
    height: 400px;
    width: 400px;
    margin-top: -160px;
    margin-left: -75px;

}
.nav-button{
    font-size: 40px;
    height: 80px;
    width: 150px;
    border-radius: 45px;
    padding: 5px;
    margin: 20px;
    background-color: #b8c4b5;
}
.logout-button{
    height: 280px;
    width: 200px;
    position: absolute;

    cursor: pointer;
}

/* notes */
.notes-container {
    border: 1px black solid;
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 0px 20px 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 0px 20px 20px 20px;
    overflow: auto;
    width: 50%;
    background-image: url('./images/my-notes-container-background.png');
    background-repeat: repeat;

}

.my-notes-header{
    display: flex;
    height:300px;
    margin-bottom:-140px;
}

.create-new-note i{
    padding-left: 50px;
    padding-top: 0px;
}

.home-notes-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.notes-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.all-notes-note-container{
    border: 1px solid black;
    padding: 11px;
    overflow: auto;
    width: 25%;
}
/* notebooks */
.notebooks-container{
    border: 1px black solid;
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 0px auto;
    padding: 0px 20px 10px 20px;
    border-radius: 10px;

}

.logout-button {
    font-family:'Peace Sans', sans-serif;

}


.card-container h3{
    /* position: absolute; */
    padding: 10px 30px 0px 30px;
    color:black;
}

.card-container{
    /* border: 1px solid black; */
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 215px;
    margin: 20px;
    background-color: #eaccba;
    /* color: white; */
}

.home-notes-list{
    color:white;
}

.login-header img{
        height: 300px;
    width: 300px;
    margin-top: -140px;
    margin-bottom: -100px;
}


.login-graphic img{
    height:400px;
    width: 400px;
    margin-left:30px;
    margin-top: -15px;

}

.login-form-main{
    background-image: url('../components/images/sticky-note.png');
    height: 500px;
    width: 500px;
    text-align: center;
    padding-top: 135px;
    margin-left: 25%;
    margin-top: 5%;
    background-repeat: no-repeat;
    border:none;
}
