.icon-img {
    border-radius: 50%;
    width: 45px;
}

.icon-img:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.server-icon {
    width: 60px;
    transition: border-radius 150ms linear;
}

.server-icon:hover {
    border-radius: 30%;
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}
