/* header nav bar  */
.header-nav-bar {
    display: flex;
    align-items: center;
}

.nav-button img{
    height: 30vh;
    cursor: pointer;
}


.login {
    margin-left: 15%;

}

.login img {
    height: 30vh;
    width: 17vw;
    margin-left: -1rem;
}

.personal-links{
    margin-left: 0%;
    margin-right: 0%;
}

/* sections */

.s1-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -5rem;
}

.s1-left {
    margin-left: 19vw;
}

.s1-left h1{
    font-size: xxx-large;
}

.s1-left p{
    font-size: x-large;
}
.s2-left{
    margin-left: 5vw;
}

.s2-right h1 {
    font-size: xxx-large;
}

.s2-right a{
    color:#5271ff;
    text-decoration:none;
    margin-right:10px;
    margin-left:10px;
}

.s2-right p{
    font-size: x-large;
}
