.header-nav-bar {
    display: flex;
    align-items: center;
}

.nav-button img{
    height: 30vh;
    cursor: pointer;
}


.login {
    margin-left: 15%;

}

.login img {
    height: 30vh;
    width: 17vw;
    margin-left: -1rem;
}

.personal-links{
    margin-left: 0%;
    margin-right: 0%;
}
