/* TODO Add site wide styles */
.home-button img{
    height: 400px;
    width: 400px;
    margin-top: -160px;
    margin-left: -75px;
}

li{
    list-style-type: none;
}

nav {
    border: 1px solid black;
    width: fit-content;
    padding: 0px 40px 50px 10px;
    border-radius: 10px;
    background-image: url('./components/images/nav-bar-background.png');
    height: 100vh;
}

.nav-bar .img{
    height: 260px;
    width: 190px;
    margin-bottom: -190px;
}

a img{
    height: 150px;
    width: 150px;
}
 #root {
    display: flex;
    flex-direction: row;
 }

textarea {
    resize:none;
}

button{
    cursor:pointer;
}
