/* TODO Add site wide styles */

li{
    list-style-type: none;
}

nav {
    border: 1px solid black;
    width: fit-content;
    padding: 0px 40px 50px 10px;
    border-radius: 10px;
    background-image: url('./components/images/nav-bar-background.png');
}

a img{
    height: 150px;
    width: 150px;
}
 #root {
    display: flex;
    flex-direction: row;
 }

textarea {
    resize:none;
}
