.signup-left-side img{
    margin: 5rem;
    height: 20rem;
    width: 20rem;
}

.signup-input {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding: '5px';
    margin-left: '0.5rem';
    font-size: '25px'
}

.signup-input input{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid gray;
    border-radius: 5px;
    height: 1.5rem;
}

.signup-input label{
    padding-bottom: 0.25rem;
    color: gray;
}
