/* notes styling index */

.prev-arrow {
    position: absolute;
    left: 0;
    bottom: -6rem;
    z-index: 1;
    cursor: pointer;
  }

  .next-arrow {
    position: absolute;
    right: 0;
    bottom: -6rem;
    z-index: 1;
    cursor: pointer;
  }

  .indiv-card-container{
    box-shadow: 9px 16px 17px 0px #e5ccfd;
    margin-top: -4rem;
    margin-left: 0rem;

  }
  .card-content {
    display: inline-block;
    background-color: 	#cacafa;
    padding: 0.5rem;
    border-radius: 5px;
    width: 14rem;
    height: 21rem;
    color:white;
    cursor: pointer;
}

.note-content {
    margin-top:1rem;
}



.open-modal-button.clickable{
    margin-top: 0rem;
    margin-left: 19rem;
    position: inherit;
    z-index: 1;
    background-color: #dfbde6;
    font-size: smaller;
    border: none;
    border-radius: 18px;
    height: 2rem;
    width: 7rem;
    color: white;
}

.open-modal-button.clickable:hover{
    background-color: #e5ccfd;
}
.create-button {
    margin-top: 9rem;
    position: absolute;
    z-index: 1;
}
.feature-header{
    display: flex;
    flex-direction: column;
}

.feature-header img{
    height: 20rem;
    margin-top: -3rem;
}
.all-features-main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.features-main {
    margin-left: 4rem;
}

/* single note (sn) page  */

.note-header{
    position:relative;
    z-index:2
}

.sn-idx-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.drop-down{
    position: absolute;
    z-index:1
}

.delete-edit{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* .quill.react-quill{
    height: 30rem;
    width:35rem
} */

.ql-container.ql-snow{
    height: 30rem;
    width: 35rem;
}

.ql-editor{
    font-size:x-large;
    background-color: #cacafa;
    color: white;
}

.edit-note-form-title {
    display:flex;
    width: 3rem;
}

.edit-note-title-input{
    font-size: xxx-large;
    font-weight: bold;
    border: 0px;
    border-bottom: 1px solid black;
    width: 26rem;
}

.button.form-button{
    height: 2rem;
    width: 6rem;
    font-size: 20px;
    margin-top: 3%;
    border-radius: 10px;
    border:none;
    margin-right: 5%;
    margin-left: 15%;
    background-color:#dfbde6;
    color: white;
    flex:1;
}

.button.form-button:hover{
    background-color: #e5ccfd;
}

.dropdown-button{
    cursor: pointer;
    background-color:#dfbde6;
    /* border: 1px solid black; */
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    color:white;
}

.dropdown-button:hover{
    background-color: #e5ccfd;
}
