notes styling index

.prev-arrow {
    position: absolute;
    left: 0;
    bottom: -6rem;
    z-index: 1;
    cursor: pointer;
  }

  .next-arrow {
    position: absolute;
    right: 0;
    bottom: -6rem;
    z-index: 1;
    cursor: pointer;
  }

  .indiv-card-container{
    box-shadow: 9px 16px 17px 0px #e5ccfd;
    margin-top: -4rem;
    margin-left: -5rem;

  }
  .card-content {
    display: inline-block;
    background-color: 	#cacafa;
    padding: 0.5rem;
    border-radius: 5px;
    width: 10rem;
    height: 12rem;
    color:white;
    cursor: pointer;
}



.open-modal-button.clickable{
    margin-top: 0rem;
    margin-left: 19rem;
    position: inherit;
    z-index: 1;
    background-color: #dfbde6;
    font-size: smaller;
    border: none;
    border-radius: 18px;
    height: 2rem;
    width: 7rem;
    color: white;
}

.open-modal-button.clickable:hover{
    background-color: #e5ccfd;
}
.create-button {
    margin-top: 9rem;
    position: absolute;
    z-index: 1;
}
.feature-header{
    display: flex;
    flex-direction: column;
}

.feature-header img{
    height: 20rem;
    margin-top: -3rem;
}
.all-features-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
