/* nav bar styling */

.nav-bar{
    background-color: #A8A8E8;
    padding: 0 2rem;
    min-height: 45rem;
    max-height: 100vh;
    position: relative;
}

.home-button img{
    margin-top: -5rem;
    width: 18rem;
    height: 18rem;
    margin-left: -4rem;

}

.personal-links {
    position: absolute;
    z-index: auto;
    margin-left: 0 rem;
    margin-top: -3rem;
}

.personal-links i{
    color: #e5e2fd;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.notes-nav-button img{
    height: 10rem;
    margin-top: -1rem;
    width: 10rem;
    margin-left: 0rem;
    position: absolute;
    z-index: 0;
}
.notebook-nav-button img{
    margin-top: 4rem;
    height: 10rem;
    width: 10rem;
    margin-left: 0rem;
    position: absolute;
    z-index: 1;
}
.lists-nav-button img{
    margin-top: 10rem;
    height: 10rem;
    width: 10rem;
    margin-left: 0rem;
    position: absolute;
    z-index: 1;
}
.logout-button {
    margin-left: 1rem;
    z-index: 2;
    height: 2rem;
    position: absolute;
    bottom: 9rem;
    font-size: large;
    border-radius: 1rem;
    border: none;
    width: 7rem;
}

.cloud-footer img {
    margin-left: -4rem;
    position: absolute;
    z-index: 0;
    height: 6rem;
    position: absolute;
    bottom: 1rem;
}

.login img{
    height: 11.25rem;
    width: 11.25rem;
    margin-left: -1rem;
}

.signup img{
    height: 11.25rem;
    width: 11.25rem;
    margin-top: -7rem;
    margin-left: -1rem;
    position: absolute;
    z-index: 1;

}
